*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #f3f3f3;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 2068px;
  height: 25vh;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}


.flexbox .board{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 20vh;

  background-color: #313131;
  padding: 15px;


}

.flexbox .board .card{
  padding: 15 px 25 px;
  background-color: #f3f3f3;

  cursor: pointer;
  margin-bottom: 15px;
}

